<!DOCTYPE HTML>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Add student</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/styles.css">

</head>
<body>
<div class="homepage">
    <div id="keaElement"><a href="/">KEA</a>
    </div>
    <div id="studentElement"><a href="/studentList">Students</a>
    </div>
    <div id="courseElement">Courses
    </div>

</div>
<h1>Create student</h1>
<form action="#" th:action="@{/addStudentForm}" th:object="${student}" method="post">
    <p>First name: <input type="text" th:field="*{firstName}" /></p>
    <p>Last name: <input type="text" th:field="*{lastName}" /></p>
    <p>Enrollment date: <input type="date" th:field="*{enrollmentDate}" /></p>
    <p>CPR: <input type="text" th:field="*{cpr}" /></p>
    <p><input id="CreateButton" type="submit" value="Create" /></p>
</form>
</body>
</html>