<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Administration Homepage</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">

</head>
<body>
    <div class="homepage"></div>
        <h1>Student Administration Homepage</h1>

        <table>
            <tr>
                <a href="index.html"><th>KEA</th> </a>
                <th>Students</th>
                <th>Courses</th>
            </tr>













        </table>
</body>
</html>