<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>NMR motorhome</title>
    <!-- stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<div class="homepage">
    <div id="keaElement"><a href="/">NMR</a>
    </div>
    <div class="courseElement"><a href="/motorhomes">Motorhomes</a>
    </div>
    <div class="courseElement"><a th:href="@{/orders(active=0)}">Orders</a>
    </div>
    <div class="courseElement"><a href="/customers">Customers</a>
    </div>
    <div class="courseElement"><a href="/cleanrepair">Clean/Repair</a>
    </div>
</div>
<div class="container">
    <div id="cleanlists" th:if="${cleanListSize} > 0">
        <p id="nexttoclean">Next to clean: </p>
        <a th:href="@{/nextcleaned}"><button id="cleaned">Cleaned!</button></a>
        <p th:text="' ' + ${nextToClean.motorhomeID} + ' ' + ${nextToClean.modelName}"><button>Cleaned!</button></p>
        <table>
            <tr>
                <th>Clean list</th>
            </tr>
            <tr th:each="motorhome : ${cleanQueue}">
                <td th:text="${motorhome.motorhomeID}"></td>
            </tr>
        </table>
    </div>
    <div id="repairlists" th:if="${repListSize} > 0">
        <p id="nexttoclean">Next to repair: </p>
        <a th:href="@{/nextrepaired}"><button id="cleaned">Repaired!</button></a>
        <p th:text="${nextToRepair.motorhomeID} + ' ' + ${nextToRepair.modelName}"></p>
        <table>
            <tr>
                <th>Repair list</th>
            </tr>
            <tr th:each="motorhome : ${repairQueue}">
                <td th:text="${motorhome.motorhomeID}"></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>