<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Administration</title>
    <!-- stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<div class="homepage">
    <div id="keaElement"><a href="/">NMR</a>
    </div>
    <div class="courseElement"><a href="/motorhomes">Motorhomes</a>
    </div>
    <div class="courseElement"><a th:href="@{/orders(active=0)}">Orders</a>
    </div>
    <div class="courseElement"><a href="/customers">Customers</a>
    </div>
    <div class="courseElement"><a href="cleanrepair">Clean/Repair</a>
    </div>
</div>
<div id="formcontainer">
    <form th:action="@{/dropOffForm}" th:object="${order}" method="post">
        <input type="hidden" th:field="*{orderID}" />
        <input type="hidden" th:field="*{droppedOff}" th:value="true" />
        <p>Distance to drop off</p>
        <input type="text" th:field="*{dropOffDistance}" />
        <input id="CreateButton" type="submit" value="Register">
    </form>
</div>
</body>
</html>